span.red {
    color: #C00;
}

.hide.active.visited {
    display: none;
}

.slide::after {
    display: none;
    text-color: #FFF;
}

table.padding td {
    padding-right: 15px;
    line-height: 40px;
    vertical-align: text-top;
}

table.padding img {
    padding-right: 15px;
    line-height: 40px;
    vertical-align: text-top;
}

.slide ol>li[value]:before {
    counter-increment: none;
    content:attr(value)'.\00A0';
}
